body {
    background-color: rgba(6, 11, 23, 0.993);
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
    font-size: 20px;
    margin-top: 180px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-top: 5px;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

section{
    width: 300px;
    height: 115px;
    background-color: rgba(228, 211, 220);
    color: black;
    margin: auto;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 1px 2px 1px rgb(112, 111, 111);
}